//Перевод осуществил Sooll3.

Localization
{
ru  
{  
// Manufacturers   
    #LOC_NearFutureAero_manufacturer_KVRoe = К.В. Рой и Компания 
	
    #LOC_NearFutureAero_switcher_fuel_title = Содержание 
    #LOC_NearFutureAero_switcher_fuel_mp = Монотопливо    
    #LOC_NearFutureAero_switcher_fuel_lf = ЖТ    
    #LOC_NearFutureAero_switcher_fuel_lfo = ЖТ/Ок    
    #LOC_NearFutureAero_switcher_fuel_lf-mp =ЖТ/MТ    
    #LOC_NearFutureAero_switcher_fuel_lfo-mp = ЖТ/Oк/MТ    
    #LOC_NearFutureAero_switcher_fuel_lh2 = ЖH2    
    #LOC_NearFutureAero_switcher_fuel_lh2o = ЖH2/Ок   
    #LOC_NearFutureAero_switcher_fuel_lh2-mp = ЖH2/МТ    
    #LOC_NearFutureAero_switcher_fuel_lh2o-mp = ЖH2/Ок/МТ    
    #LOC_NearFutureAero_switcher_wings_bl_title = Нижнее Левое крыло    
    #LOC_NearFutureAero_switcher_wings_ul_title = Верхнее Левое Крыло    
    #LOC_NearFutureAero_switcher_wings_br_title = Нижнее Правое Крыло    
    #LOC_NearFutureAero_switcher_wings_ur_title = Верхнее Правое Крыло    
    #LOC_NearFutureAero_switcher_wings_variant_none = Нет    
    #LOC_NearFutureAero_switcher_wings_variant_bl = Крыло    
    #LOC_NearFutureAero_switcher_wings_variant_ul = Крыло    
    #LOC_NearFutureAero_switcher_wings_variant_br = Крыло    
    #LOC_NearFutureAero_switcher_wings_variant_ur = Крыло
    
    // Parts
    // Engines
    #LOC_NearFutureAero_liftfan-10-1_title = HVR-ОДИН Сверхтяжёлые несущий винт
    #LOC_NearFutureAero_liftfan-10-1_description = Самые тяжелые винты для полёта из серии HVR, включает 2 соосных винта противоположного вращения, для работы необходимы: смесь топлива/воздуха или электроэнергия, хотя в последнем случае выходе тяги немного ниже.
    #LOC_NearFutureAero_liftfan-10-1_tags = fan hover propell aircraft shield heli carrier plane propuls turb up elec nearfuture
    #LOC_NearFutureAero_liftfan-375-1_title = HVR-ДВА Сверхтяжёлые несущий винт
    #LOC_NearFutureAero_liftfan-375-1_description = Средняя модель из серии HVR, жертвует тягой для более высокой эффективности. Блок соосных винтов противоположного вращения, для работы требуеся: смесь топлива/воздуха или электроэнергия, хотя в последнем случае выходе тяги немного ниже.
    #LOC_NearFutureAero_liftfan-375-1_tags = fan hover propell aircraft quin jet plane propuls turb up elec heli nearfuture
    #LOC_NearFutureAero_liftfan-25-1_title = HVR-ТРИ Несущий винт
    #LOC_NearFutureAero_liftfan-25-1_description = Облегченная модель из серии HVR, позволяет произвобить больше тяги в меньшей площади. Блок с универсальным винтом, для работы требуеся: смесь топлива/воздуха или электроэнергия, хотя в последнем случае выходе тяги немного ниже.
    #LOC_NearFutureAero_liftfan-25-1_tags = fan hover propell aircraft avatar plane propuls turb up elec heli nearfuture
    #LOC_NearFutureAero_liftfan_mode_lf_title = Воздушнореактивный
    #LOC_NearFutureAero_liftfan_mode_electric_title = Электродвигатель
    #LOC_NearFutureAero_multimodal-25-1_title = AE-1 Двигатель "Палаш"
    #LOC_NearFutureAero_multimodal-25-1_description = "Палаш" большой и пугающий. Наши инженеры предполоили, что при его запуске, неготивное влияние может вызвать отток населения из близлежащих населённых пунктов, вследствии испытываемого ими неприодолимого ужаса.
    #LOC_NearFutureAero_multimodal-25-1_tags =  aircraft ascent closed cycle dual fuel hybrid jet liquid main mode plane propuls broadsword spike aero rocket ssto nearfuture
    #LOC_NearFutureAero_multimodal-25-2_title = AE-2 Двигатель "Сабля"
    #LOC_NearFutureAero_multimodal-25-2_description = Головорез размахивающий саблей послужил вдохновляющим фактором при создании этого элегантного многорежимного двигателя. Для повышения эффективности использования топлива в жертву приносится тяга.
    #LOC_NearFutureAero_multimodal-25-2_tags =  aircraft ascent closed cycle dual fuel hybrid jet liquid main mode plane propuls cutlass orbit effic sabre rocket ssto nearfuture
    #LOC_NearFutureAero_multimodal-125-1_title = AE-2B Двигатель "Ятаган"
    #LOC_NearFutureAero_multimodal-125-1_description = Было принято решение не называть детали двигатедя от производных клинка, во избежании проблем с авторскими правами , "Ятаган" является мощным двухрежимным двигателем. Его шестиугольная конструкция позволяет улучшить эффективность в атмосфере, по сравнению с собратьями.
    #LOC_NearFutureAero_multimodal-125-1_tags = aircraft ascent closed cycle dual fuel hybrid jet liquid main mode plane propuls scimitar heavy aero rocket ssto nearfuture

    #LOC_NearFutureAero_multimodal_mode_lf_title = Воздушнореактивный
    #LOC_NearFutureAero_multimodal_mode_lfo_title = Закрытый цикл

    #LOC_NearFutureAero_atomic-jet-25-1_title = J-N160 "Огненная вспышка" ВРЯД
    #LOC_NearFutureAero_atomic-jet-25-1_description = Воздушно-реактивный ядерный двигатель (ВРЯД). Последнее слово в атмосферной тяге, если вас не смушает один небольшой минс в его работе: его плохо экранированный реактор ужасно фонит и облучает оружающее пространство. Может функционировать в любой атмосфере независимо от наличия кислорода, не требует топлива. Он, однако, довольно тяжелый и имеет длительное временя отклика (плохо управляем).
    #LOC_NearFutureAero_atomic-jet-25-1_tags =  aircraft jet plane propuls jet atom nuclear pluto nearfuture
    #LOC_NearFutureAero_atomic-multimode-25-1_title = J-N500 "Проект Иилу" МРЯД
    #LOC_NearFutureAero_atomic-multimode-25-1_description = Многорежимный ядерный двигатель (МРЯД). Имеет функцию вертикального взлёта. Используйте атмосферый воздух, как реакционную массу, если он есть, затем добавте топливо в активную зону реактора, когда происходит выход в космос.
    #LOC_NearFutureAero_atomic-multimode-25-1_tags =  ascent closed cycle dual fuel hybrid jet liquid main mode plane propuls eeloo heavy aero rocket ssto atom nuclear pluto nearfuture

    #LOC_NearFutureAero_propfan-125-1_title = AP27 "Спираль" Винтовой двигатель
    #LOC_NearFutureAero_propfan-125-1_description = "Спираль"-чудо многовинтовой техники. Это совокупность небольших лопастей вращающихся в противоположные стороны, за счет чего возрастает максимально возможная скорость и удельный импульс. Тяга при этом таже
    #LOC_NearFutureAero_propfan-125-1_tags =  aircraft propel blade spin fan rotor saw engine plane liner cargo dual reverse
    #LOC_NearFutureAero_turboprop-125-1_title = AP4000 "Бензопила" ТВД
    #LOC_NearFutureAero_turboprop-125-1_description = Турбовинтовой двигатель (ТВД) имеет наклонные и изогнутые лопасти позволяющие достигать более высоких скоростей вращения, увеличивая максимальную скорость винта при сохранении эффективности.
    #LOC_NearFutureAero_turboprop-125-1_tags = aircraft propel turbo blade spin rotor saw engine plane liner cargo nearfuture

    #LOC_NearFutureAero_turbofan-25-1_title = J-90 "Дадли" Тяжелый ТВД
    #LOC_NearFutureAero_turbofan-25-1_description = Турбовинтовой двигатель (ТВД)- это шумный и впечатляющий воздушнореактивный двигатель. Похожий на небольших "Уизли", этот двигатель эффективен на средних и больших высотах, но на высоких скоростях его производительность снижается.
    #LOC_NearFutureAero_turbofan-25-1_tags =  aircraft liner cargo subsonic slow big jet plane propuls reverse nearfuture
    #LOC_NearFutureAero_turbofan-25-2_title = J-593 "Аркадия" ТВД
    #LOC_NearFutureAero_turbofan-25-2_description = Турбовинтовой двигатель (ТВД) - это мощный воздушнореактивный двигатель, который хорошо работает на высоких скоростях. Имеет высокую тягу за счет дефлекторов, может останавливаться и производить управляемое короткое (или затяжное) падение.
    #LOC_NearFutureAero_turbofan-25-2_tags = aircraft jet plane propuls jet concorde revers nearfuture
    #LOC_NearFutureAero_turbojet-25-1_title = JE-X4 "Валькирия" ТРПД
    #LOC_NearFutureAero_turbojet-25-1_description = Турбореактивный прямоточный двигатель (ТРПД) - мощный воздушнореактивный двигатель оптимизированный для быстрого перемещения на высоких скоростях и высотах.
    #LOC_NearFutureAero_turbojet-25-1_tags =  aircraft jet plane propuls jet sst boeing nearfuture

    #LOC_NearFutureAero_vtol-0625-1_title = JL-16 "Оса" ДВВП
    #LOC_NearFutureAero_vtol-0625-1_description = Двитатель вертикального влета и посадки (ДВВП). Этот реактивный двигатель оптимизирован для высокой тяги, малой скорости, низких атмосферых действий. Более быстрый отклик, чем у большинства двигателей, однако подвержен перегреву.
    #LOC_NearFutureAero_vtol-0625-1_tags =  aircraft buzz vtol stvol short harrier jump hop verti ascend nearfuture
    #LOC_NearFutureAero_vtol-125-1_title = JL-40 "Шершень" ДВВП
    #LOC_NearFutureAero_vtol-125-1_description = Двитатель вертикального влета и посадки (ДВВП). Когда "Оса" не годится, "Шершень", вот решение! Двойные векторые сопла и компрессор быстрого отклика обеспечивают необходимый импульс там, где и когда он нужен.
    #LOC_NearFutureAero_vtol-125-1_tags =  aircraft buzz vtol stvol short harrier jump hop verti ascend nearfuture

    #LOC_NearFutureAero_turbofan_mode_cruise_title = Рейс
    #LOC_NearFutureAero_turbofan_mode_reverse_title = Обратная тяга

    // Intakes
    #LOC_NearFutureAero_intake-largeshock-1_title = Расширенный воздухозабоник
    #LOC_NearFutureAero_intake-largeshock-1_description = Этот дополнительный заострённый воздухозаборние обеспечивает большую производительность на высоких скоростях и высотах. Закрывайте и открывайте воздухозаборник постоянно для веселья, не рекомендуется это делать в полёте.
    #LOC_NearFutureAero_intake-largeshock-1_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck supersonic hypersonic
    #LOC_NearFutureAero_intake-largeram-1_title = Расширенный воздухозабоник
    #LOC_NearFutureAero_intake-largeram-1_description = Двойная симметрия позволяет этому воздухозаборнику взять необходимое количество воздуха для использования в ваших двигателях.
    #LOC_NearFutureAero_intake-largeram-1_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck supersonic
    #LOC_NearFutureAero_intake-largecircular-1_title = Воздухозаборник с большим винтом
    #LOC_NearFutureAero_intake-largecircular-1_description = Головокружительный массив вращающихся винтов компрессора делает этот воздухозаборник настоящей опасностью для кого-либо или чего-либо поблизости. Он может всасывать большое количество воздуха, гусей и уток на низких скоростях.
    #LOC_NearFutureAero_intake-largecircular-1_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck liner subsonic compress spin
    #LOC_NearFutureAero_intake-radial-1_title = Тяжёлый воздухозаборник
    #LOC_NearFutureAero_intake-radial-1_description = Чрезвычайно большой радиально прикрепляемый воздухозаборник.
    #LOC_NearFutureAero_intake-radial-1_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck supersonic hypersonic ramp
    #LOC_NearFutureAero_intake-radial-2_title = Тяжёлый монтируемый воздухозаборник
    #LOC_NearFutureAero_intake-radial-2_description = По иронии судьбы, созданный во время презентации OHSA, этот воздухозаборник был изобретен, когда сбежавшая циркулярная пила прокатилась через актовый зал К. В. Рой.
    #LOC_NearFutureAero_intake-radial-2_tags = nearfuture aero (air aircraft breathe cone fligh inlet jet oxygen plane suck supersonic hypersonic ramp

    // 2.5m Aerospace
    #LOC_NearFutureAero_enginecooler-25-1_title = Предохладитель тяжёлого двигателя
    #LOC_NearFutureAero_enginecooler-25-1_description = Это более просторный предохладитель с более эффективным охлаждением больших воздушнореактивных двигателей, чем его младшие коллеги.
    #LOC_NearFutureAero_enginecooler-25-1_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic supersonic suck tank nearfuture cool pipes hypersonic
    #LOC_NearFutureAero_enginenacelle-25-1_title = Удлиненная гондола тяжёлого двигателя
    #LOC_NearFutureAero_enginenacelle-25-1_description = Большая гондала для больших самолётов. Содержит немного топлива и воздуха для использования в воздушно-реактивных двигателях.
    #LOC_NearFutureAero_enginenacelle-25-1_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic sub subsonic suck tank nearfuture
    #LOC_NearFutureAero_enginenacelle-25-2_title = Гондола тяжёлого двигателя
    #LOC_NearFutureAero_enginenacelle-25-2_description = Приземистая гондола для скрытого использования воздушно-реактивных двигателей.
    #LOC_NearFutureAero_enginenacelle-25-2_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic sub subsonic suck tank nearfuture
    #LOC_NearFutureAero_fueltank-25-1_title = Mk2A 800X Авиационный топливный бак
    #LOC_NearFutureAero_fueltank-25-1_description = Широкий и длинный топливный бак для самолетов. Может быть сконфигурирован для перевозки реактивного или ракетного топлива. Или ничего!
    #LOC_NearFutureAero_fueltank-25-1_tags = aircraft airplane fueltank jet plane propellant tank nearfuture
    #LOC_NearFutureAero_fueltank-25-2_title = Mk2A 400X Авиационный топливный бак
    #LOC_NearFutureAero_fueltank-25-2_description = Большой топливный бак для самолетов. Может быть сконфигурирован для перевозки реактивного или ракетного топлива. Или ничего!
    #LOC_NearFutureAero_fueltank-25-2_tags = aircraft airplane fueltank jet plane propellant tank nearfuture
    #LOC_NearFutureAero_fueltank-25-3_title = Mk2A 200X Авиационный топливный бак
    #LOC_NearFutureAero_fueltank-25-3_description = Широкий, но короткий топливный бак для самолетов. Может быть сконфигурирован для перевозки реактивного или ракетного топлива. Или ничего!
    #LOC_NearFutureAero_fueltank-25-3_tags = aircraft airplane fueltank jet plane propellant tank nearfuture
    #LOC_NearFutureAero_fueltank-25-4_title = Mk2A 100X Авиационный топливный бак
    #LOC_NearFutureAero_fueltank-25-4_description =  Широкий и короткий топливный бак для самолетов. Может быть сконфигурирован для перевозки реактивного или ракетного топлива. Или ничего!
    #LOC_NearFutureAero_fueltank-25-4_tags = aircraft airplane fueltank jet plane propellant tank nearfuture

    #LOC_NearFutureAero_enginepod-large-1_title = AVX-20 Отсек тяжёлого двигателя
    #LOC_NearFutureAero_enginepod-large-1_description = Большой отсек для разрешения двигателя и воздухозаборника. Оптимизирован для двух двигателей 2,5 м и двух воздухозаборников.
    #LOC_NearFutureAero_enginepod-large-1_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic supersonic suck tank nearfuture fireflash thunderbird
    #LOC_NearFutureAero_pod-1_title = AV-1-2 Двойной моторный отсек
    #LOC_NearFutureAero_pod-1_description = Отсек для разрешения двигателя и воздухозаборника. Оптимизирован для двух двигателей и двух воздухозаборников. Содержит небольшое количество топлива и много компрессоров.
    #LOC_NearFutureAero_pod-1_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic supersonic suck tank nearfuture rtl thunderbird
    #LOC_NearFutureAero_pod-2_title = AV-1-3 Тройной моторный отсек
    #LOC_NearFutureAero_pod-2_description = Радиально прикрепляемый модуль крепления двигателя. Шесть точек крепления оптимизированы для трех небольших двигателей и трех воздухозаборников. Содержит небольшое количество топлива и ох как много компрессоров.
    #LOC_NearFutureAero_pod-2_tags = aero (air aircraft breathe cone fligh fuel inlet intake jet oxygen plane sonic supersonic suck tank nearfuture rtl thunderbird

    // RCS
    #LOC_NearFutureAero_rcsblister-1_title =  ARV-100-8 тяжёлый РСУ блистер
    #LOC_NearFutureAero_rcsblister-1_description = Тяжелые реактивные двигатели управления в этом расширенном блистере управления отлично подходят для маневрирования космических самолетов как в атмосфере, так и в темной, темной пустоте космоса.
    #LOC_NearFutureAero_rcsblister-1_tags = nearfuture cluster control dock maneuver manoeuvre react rendezvous rotate stab steer translate heavy shield
  }
}
